/*Selección de Colores
/* 6b9080
/* a4c3b2
/* cce3de
/* eaf4f4
/* f6fff8*/

Body{
  background-color:#e7e5e4 ;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*----------------*/
/*----Nav----- */
/*----------------*/
nav {
    background-image: url(../img/portada\ nacional.jpg);
    background-position:center;
    background-size: cover;
    min-height: 70px;
    display: flex;
    align-items:center ;
    padding: 180px;
  }
  .logo img {
    height: 150px;
  }

/*----------------*/
/*----Titulo----- */
/*----------------*/
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 70px;
  padding: 40px 10px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  
  &.elegantshadow {
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
  }
  }

  .container {
    margin-top: 20px;
  }

/*----------------*/
/*----formulario----- */
/*----------------*/

section form{
  margin: inherit;
  margin-bottom: 50px;
}

section button{
margin: 10px; 
}

/*----------------*/
/*----Tabla----- */
/*----------------*/

/*Ajustar la columna al contenido */
.btn-column{
  width: auto;
}

.table{
padding: auto;
}

/*----------------*/
/*---- Footer---- */
/*----------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #e7e5e4;
  padding: 50px 0 10px 0;
}

.footer-link {
  display: flex;
}

.link {
  width: 300px;
}

.link h3 {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link a {
  font-size: 17px;
  color: black;
  margin-bottom: 20px;
}

.link a:hover {
  color: black;
}

.socials {
  display: flex;
  margin-bottom: 15px;
}

.socials a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: black;
  margin: 0 15px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #f7f7f7;
  font-size: 20px;
}

hr {
  border: 1px solid;
  margin: 35px 0;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.footer-text p {
  font-size: 15px;
  color: black;
}

/*----------------*/
/*----Responsive----- */
/*----------------*/

/*El resto del código responsivo se encuentra desde bootstrap */

@media screen and (max-width: 768px) {
  /* con esto hago que la imagen del logo se adapte*/
  .navbar-brand img {
      width: 80px;
      height: 80px;
  }
  
  .elegantshadow {
      font-size: 28px;
  }

  #formulario {
      margin-top: 20px;
  }
  .table {
      font-size: 14px;
  }
  
  /* Ajustar el ancho de las columnas en pantallas más pequeñas */
  #tableData th,
  #tableData td {
      padding: 8px;
      font-size: 9px;
  }
  #tableData {
    margin-left: 0;
    margin-right: 0;
  }
  .swal2-popup {
    font-size: 1.6rem;
}

.swal2-modal {
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}
  .btn{
    font-size: 9px;
  }
  .btn-column {
    flex-direction: column;
    align-items: center;
  }
  .btn-column button {
    margin-bottom: 10px;
  }
  .footer {
    padding: 30px;
  }

  .footer-link {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .socials {
    justify-content: center;
  }
  .footer-text {
    text-align: center;
  }
  
}
